.App {
  text-align: center;
}
.fa{
  cursor: pointer;
}
.fa-pause-circle, .fa-play-circle{
  font-size: 100px;
}
.fa-backward, .fa-forward{
  font-size: 40px;
}
/* .cover-image{
  align-items: center;
  justify-content: center;
  display: flex;
  text-align: center;
  height: 100%;
  width: 250px;
  padding: 20px;
  background: red;
} */